*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: blueviolet;
    height: 100vh;
    display: grid;
    padding: 40px;
    background-image: url(/img/fundo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 
    "nav nav"
    "main header"
    "footer footer";
    overflow: hidden;;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
}
nav{
    background-color: #807155; 
    opacity:0.7;
    border-radius: 35px;
    grid-area: nav;
    height: 35px;
}
.menu{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}

header{
    position: relative;
} 
main{
    grid-area: main;
    height: 500px;
    width: 800px;   
}
.texto{
    grid-area: texto;
    height: 220px;
    width: 550px;    
}
.videos{
    height: 100px;
    width: 700px;
    gap: 25px;    
}    
footer{
    grid-area: footer;
}
.rick-image{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(50%, 0);
}     

.logo{
    background-color: #807155;
}
.videos{
    background-color: aqua;
    position: relative;
    
}